pipelines/migrate_pipeline.json
{
    "name": "PL_DataPullFromOnPremSQLServer",
    "objectId": "9314bb56-d33d-4217-a02f-04b7544613d9",
    "properties": {
        "activities": [
            {
                "name": "Lookup1",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "SqlServerSource",
                        "sqlReaderQuery": {
                            "value": "SELECT * \nFROM ControlTable \n",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "type": "SqlServerTable",
                        "schema": [],
                        "typeProperties": {
                            "database": "WideWorldImporters"
                        },
                        "externalReferences": {
                            "connection": "2dfe0ffc-4e54-47d9-9550-ccf3445be541"
                        }
                    }
                }
            },
            {
                "name": "ForEach2",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Lookup1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup1').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Copy data2_copy1",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "SqlServerSource",
                                    "sqlReaderQuery": {
                                        "value": "@{\n    if(\n        or(\n            equals(coalesce(item().ColumnList, ''), ''),\n            equals(coalesce(item().ColumnList, ''), null)\n        ),\n        concat('SELECT * FROM [', item().SchemaName, '].[', item().TableName, ']'),\n        concat('SELECT ', \n            item().ColumnList, \n            ' FROM [', item().SchemaName, '].[', item().TableName, ']')\n    )\n}\n",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None",
                                    "datasetSettings": {
                                        "annotations": [],
                                        "type": "SqlServerTable",
                                        "schema": [],
                                        "typeProperties": {
                                            "database": "WideWorldImporters"
                                        },
                                        "externalReferences": {
                                            "connection": "2dfe0ffc-4e54-47d9-9550-ccf3445be541"
                                        }
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "LakehouseWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings",
                                        "enableVertiParquet": true
                                    },
                                    "datasetSettings": {
                                        "annotations": [],
                                        "linkedService": {
                                            "name": "LH_test_WWI",
                                            "properties": {
                                                "annotations": [],
                                                "type": "Lakehouse",
                                                "typeProperties": {
                                                    "workspaceId": "4075eca3-a019-4f62-9d50-3d6032836fd6",
                                                    "artifactId": "43fd6752-1102-4fb3-991b-557ca8464022",
                                                    "rootFolder": "Files"
                                                }
                                            }
                                        },
                                        "type": "Parquet",
                                        "typeProperties": {
                                            "location": {
                                                "type": "LakehouseLocation",
                                                "folderPath": {
                                                    "value": "@concat('TempFolder/',item().SchemaName,'.',item().TableName, '/')\n",
                                                    "type": "Expression"
                                                }
                                            },
                                            "compressionCodec": "snappy"
                                        },
                                        "schema": []
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Notebook1",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach2",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "bb4eab44-b9bd-426c-8390-8368a903bc59",
                    "workspaceId": "4075eca3-a019-4f62-9d50-3d6032836fd6"
                }
            },
            {
                "name": "Notebook2",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "Notebook1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "85c2dff1-b57c-4b4f-8132-0e1f874758f3",
                    "workspaceId": "4075eca3-a019-4f62-9d50-3d6032836fd6"
                }
            }
        ],
        "lastModifiedByObjectId": "f7243dcd-36bd-49ad-985b-7e27333df032",
        "lastPublishTime": "2024-12-09T03:25:55Z"
    }
}